<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage Student</title>
</head>
<body>
<h1>Welcome {{ name }}</h1>
<li><a href="/home/homepage/logout/">Logout</a></li>
<h1>Available Courses</h1>
{% for course in courses %}
    <p> {{ course.cou_id }} {{course.ses_id}} </p>
    <form action="#" method="POST" class="btn-block">
        {% csrf_token %}
        <input hidden type="text" name='course_id' value='{{course.cou_id}}'>
        <input hidden type="text" name='session_id' value='{{course.ses_id}}'>
        <button style="background-color: #ff5722" type="submit" class="float-right btn btn-light  form-control"
        >Go to course</button>
    </form>
{% endfor %}
</body>
</html>